main div.updates {
    color: green;
}

main h3 {
    margin-top: 40px;
}

main ul {
    list-style-type: none;
}

main ul li {
    background: #e9ecef;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
}
